@charset "ISO-8859-1";
input, label {
    display:block;
}
a{
	color: navy;
	}
body {
    font-size: 16px;
    color: navy;
    background-color: purple;
}
h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
}
div{
	display: block;
	float: left;
	margin: 2%;
	padding: 2%;
	border: solid 2px red;
	height: 30px;
	vertical-align: center;
}

input[type="submit"]{
	display: block;
    margin: 0 auto;
    text-align: center;
}